@model Trabalho_Trimestral.Models.Projeto
@using Microsoft.AspNetCore.Http;

<div class="container">
    <center style="margin-top: 80px;">
        <h2>Projetos adicionados</h2>

        @if (Context.Session.GetInt32("Administrador") == 1)
        {
            <p>
                <a asp-controller="projeto" asp-action="novo" class="btn btn-primary">
                    Adicionar um projeto
                </a>
            </p>
        }
    </center>

    <table class="table table-sm table-hover">
        <tr>
            <th>Data de Entrega</th>
            <th>Nome</th>
            <th>Solicitante</th>
            <th>Ações</th>
        </tr>

        @foreach (Projeto p in ViewBag.Projetos)
        {

            <tr>
                <td>@p.DataEntrega</td>
                <td>@p.Nome</td>
                <td>@p.Solicitante</td>
                <td>
                    @if (Context.Session.GetInt32("Administrador") == 1)
                    {
                        <a asp-controller="projeto" asp-action="editar" asp-route-id="@p.Id" class="btn btn-sm btn-warning">
                            Editar
                        </a>

                        <a asp-controller="projeto" asp-action="excluir" asp-route-id="@p.Id" class="btn btn-danger btn-sm"
                           onclick="return confirm('Tem certeza que deseja ecluir o componente?');">
                            Excluir
                        </a>
                    }
                </td>


            </tr>


        }
    </table>
</div>

