@model Trabalho_Trimestral.Models.Bug
@using Microsoft.AspNetCore.Http;

<div class="container">
    <center style="margin-top: 80px;">
        <h2>Bugs adicionados</h2>


            <p>
                <a asp-controller="bug" asp-action="novo" class="btn btn-primary">
                    Adicionar um bug
                </a>
            </p>
        

    </center>

    <table class="table table-sm table-hover">
        <tr>
            <th>Descrição</th>
            <th>Data de Cadastro</th>
            <th>Prioridade</th>
            <th>Criador</th>
            <th>Ações</th>
        </tr>

        @foreach (Bug b in ViewBag.Bugs)
        {
            @if (!b.Resolucao)
            {
                <tr>
                    <td>@b.Descricao</td>
                    <td>@b.DataCadastro</td>
                    <td>@b.Prioridade</td>
                    <td>@b.Desenvolvedor.Nome</td>
                    <td>

                        <a asp-controller="bug" asp-action="resolver" asp-route-id="@b.Id" class="btn btn-sm btn-success">
                            Resolver
                        </a>

                        <a asp-controller="bug" asp-action="editar" asp-route-id="@b.Id" class="btn btn-sm btn-warning">
                            Editar
                        </a>
                        @if (Context.Session.GetInt32("Administrador") == 1)
                        {
                            <a asp-controller="bug" asp-action="excluir" asp-route-id="@b.Id" class="btn btn-danger btn-sm"
                                onclick="return confirm('Tem certeza que deseja ecluir o componente?');">
                                Excluir
                            </a>
                        }
                    </td>


                </tr>
            }

        }
    </table>
</div>


